@using MyBookDatabase.DTO
@model IEnumerable<GenreDTO>
<h1>List of genres</h1>
<a class="btn btn-primary my-2" asp-action="Create">Create</a>
@foreach (var genre in Model.OrderBy(genre => genre.Name)) {
	<div class="border border-dark p-2">
		<h4>@genre.Name</h4>
		<ul>
			@foreach (var book in genre.Books.OrderBy(book => book.Title)) {
				<li>@book.Title by <a asp-controller="Authors" asp-action="Details" asp-route-id="@book.Author.Id">@book.Author.Name</a></li>
			}
		</ul>
		<a class="btn btn-warning" asp-action="Update" asp-route-id="@genre.Id">Edit</a>
		<form method="post">
			<button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@genre.Id">Delete</button>
			<p>*Deleting a genre will result in deleting all associated books.</p>
		</form>
	</div>
}