@using MyBookDatabase.DTO
@model IEnumerable<GenreDTO>
<h1>List of genres</h1>
<a class="btn btn-primary my-2" asp-action="Create">Create</a>
@foreach (var genre in Model) {
	<div class="border border-dark p-2">
		<h5>@genre.Name</h5>
		@foreach (var book in genre.Books) {
			<p>@book.Title by @book.Author.Name</p>
		}
		<a class="btn btn-warning" asp-action="Update" asp-route-id="@genre.Id">Edit</a>
		<form method="post">
			<button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@genre.Id">Delete</button>
			<p>*Deleting a genre will result in deleting all associated books.</p>
		</form>
	</div>
}