@using MyBookDatabase.ViewModels
@model IEnumerable<BooksViewModel>
<h1>List of all books</h1>
<div>
	<a class="btn btn-success" asp-controller="Grades" asp-action="Create">
		Add a new Book
	</a>
</div>
@foreach (var item in Model) {
	<div class="border border-1 border-dark">
		<h2>@item.Title</h2>
		<p>by @item.AuthorName</p>
		<p>Publication date: @item.PublicationDate.ToShortDateString()</p>
		<p>ISBN-13: @item.Isbn</p>
		<p>Genre: @item.GenreName</p>
		<p>@item.Description</p>
		<a class="btn btn-warning" asp-controller="Books" asp-action="Update"
		   asp-route-id="@item.Id">Edit</a>
		<a class="btn btn-danger" asp-controller="Books" asp-action="Delete"
		   asp-route-id="@item.Id">Delete</a>
	</div>
}